<div class="row">
    <div class="col-md-6">
        <% if @product.image.present? %>
        <%= image_tag(@product.image.medium.url, class: "thumbnail")%>
    <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
        <% end %>
    </div>
    <div class="col-md-6">
        <h2><%= @product.title %></h2>
        <p style="height:100px;">
            <%= @product.description %>
        </p>
        <div>数量:
            <%= @product.quantity %></div>
        <div class="product-price">
            ¥
            <%= @product.price %></div>
        <% if @product.quantity.present? && @product.quantity > 0%>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-danger btn-lg pull-right")%>
    <% else %>
        <span class="pull-right label label-info label-lg">此商品已售空</span>
        <% end %>
    </div>
</div>
